* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0071a6;
  border-bottom: 1px dotted #0071a6;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.card-box {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.card__photo {
  width: 100%;
  text-align: center;
}

.card__photo_img {
  max-width: 100px;
  height: auto;
}

.card__title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card__offer {
  background-color:rgba(233, 30, 99, 0.2);
  display: inline;
  border-radius: 8px;
  color: #111;
  padding: 3px 6px 3px 6px;
  font-size: 14px;
  color: #e91e63;
}

.card__compare, .card__favour {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
  color: #444;
  font-size: 20px;
  cursor: pointer;
}

.card__compare:hover, .card__favour:hover {
  background: #ff7300;
  border: 1px solid #ff7300;
  background-color: #ff7300;
  border-bottom: 3px solid #e66800;
  color: #fff;
}

.card__compare {
  top: 15px;
  right: 15px;
}

.card__favour {
  top: 70px;
  right: 15px;
}

.hidden, .code {
  display: none;
}

.card__rating {
  margin-top: 15px;
  color: #333;
}

.card__cost {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  color: #333;
}

.card__buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.card__characteristics {
  display: none;
}

.button__buy1click {
  cursor: pointer;
  width: 59%;
  padding: 7px 10px;
  font-size: 16px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

.button__buy1click:hover {
  background: #ff7300;
  border: 1px solid #ff7300;
  background-color: #ff7300;
  border-bottom: 3px solid #e66800;
  color: #fff;
}

.button__buy {
  cursor: pointer;
  width: 39%;
  padding: 7px 10px;
  font-size: 16px;
  background: #ff7300;
  border: 1px solid #ff7300;
  background-color: #ff7300;
  border-bottom: 3px solid #e66800;
  border-radius: 5px;
  color: #fff;
  margin-left: 5px;
}

.button__buy:hover {
  background: #cc5c00;
  background-color: #cc5c00;
  border: 1px solid #cc5c00;
  border-bottom: 3px solid #a84c00;
}
.fa-shopping-cart {
  margin-right: 8px;
}

.burger {
  display: none;
}

@media (max-width: 1024px) {
  body{
    width: 90%;
    margin: 0 auto;
  }
  .card-box {
    width: 49%;
  }
}

@media (max-width: 980px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .card-box {
    width: 100%;
  }
  .card {
    width: 95%;
  }

  .card__photo {
    width: 15%;
    display: inline-block;
  }

  .card__photo_img {
    width: 100%;
  }

  .card__characteristics {
    display: block;
    color: #aaa;
    margin-top: 20px;
    font-size: 14px;
  }

  .card__rating {
    position: absolute;
    left: 3%;
    top: 53%;
  }

  .buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 27%;
    display: inline-block;
    float: right;
  }

  .hidden {
    display: inline;
  }

  .code {
    display: block;
    color: #aaa;
    font-size: 14px;
    margin-top: 20px;
  }

  .card__cost {
    margin: 0;
    margin-bottom: 15px;
  }

  .card__compare:hover, .card__favour:hover {
    background: none;
    border: none;
    background-color: none;
    border-bottom: none;
    color: inherit;
  }
  .buttons__special > div > a {
    margin-left: 5px;
  }

  .card__avails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }

  .horizontal {
    display: inline-block;
  }

  .card__description {
    vertical-align: top;
    width: 55%;
  }

  .button__buy, .button__buy1click {
    width: 100%;
    padding: 12px 20px;
    margin-left: 0;
  }

  .button__buy {
    margin-bottom: 7px;
  }

  .buttons__special > div {
    position: relative;
    border: none;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 12px;
  }

  .buttons__buy-buttons {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 760px) {
  body{
    width: 100%;
  }
  .card-box {
    width: 100%;
  }
  .card {
    width: 100%;
    position: relative;
  }
  .hidden, .code {
    display: none;
  }

  .card__buttons {
    display: inline-block;
  }

  .card__photo {
    width: 49%;
  }

  .burger {
    display: inline-block;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    vertical-align: middle;
    float: right;
  }

  .burger:hover {
    border-bottom: 3px solid #ccc;
  }

  .buttons__buy-buttons {
    display: inline-block;
    width: 80%;
  }

  .card__avails {
    display: block;
    border-top: none;
    padding-top: 0;
  }

  .card__rating {
    position: relative;
  }
  .card__description {
    position: unset;
    width: 49%;
  }
  .card__description_short {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .card__characteristics {
    margin-top: 0;
  }

  .horizontal {
    margin-top: 85px;
  }

  .buttons {
    width: 100%;
    position: relative;
    float: none;
    top: 0;
    left: 0;
  }
  .buttons__special {
    display: none;
  }

  .card__buttons {
    width: 100%;
    text-align: left;
  }
  .button__buy {
    display: inline-block;
    width: 45%;
    font-size: 14px;
    padding: 7px 10px;
  }
  .button__buy1click {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    padding: 7px 10px;
    margin-right: 10px;
  }
}
/*
@media (max-width: 500px) {
  body {
    width: 100%;
  }
  .card-box {
    width: 100%;
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .button__buy1click {
    width: 53%;
    font-size: 14px;
  }

  .button__buy {
    width: 45%;
    font-size: 14px;
  }
} */
