* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0071a6;
  border-bottom: 1px dotted #0071a6;
}